html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #F1F1F1;
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-weight: 900;
}

h1 {
	text-align: center;
	font-style: italic;
	margin: 10px auto;
	padding: 10px;
	padding-top: 0;
}

h2 {
	margin: 0;
	margin-bottom: 5px;
}

h3 {
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 8px;
}

table {
	border-spacing: 0;
	margin: auto;
}

td, th {
	border: 1px solid #DDD;
	text-align: center;
	padding: 5px;
}

th {
	background-color: #F5F5F5;
}

span {
	display: block;
	margin: 2px 6px;
	font-style: italic;
}

a {
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	color: black;
}

li > a {
	display: block;
	padding: 10px;
}

ul {
	padding-left: 30px;
	margin-block: 10px;
	list-style-type: circle;
}

.g-recaptcha {
	margin: 5px 4px;
	margin-top: 8px;
}

.MathJax {
	overflow-x: auto;
	overflow-y: hidden;
}

.container {
	max-width: 1000px;
	margin: 30px auto;
	margin-bottom: 82px;
}

.subcontainer {
	background-color: #FFF;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 8px 8px 50px 1px rgba(100, 100, 100, 1);
	-webkit-box-shadow: 8px 8px 50px 1px rgba(100, 100, 100, 1);
	-moz-box-shadow: 8px 8px 50px 1px rgba(100, 100, 100, 1);
}

.display {
	display: block !important;
}

.hide {
	display: none !important;
}

.container * {
	animation: none;
}

.nav-bar {
	padding: 0;
	margin: 0;
}

.user-name {
	font-weight: 800;
}

.nav-bar > li {
	width: auto !important;
	display: inline-block;
	padding: 0;
	margin: 3px;
	transition: transform .5s;
}

.nav-bar > li:hover {
	transform: translateY(-2px);
}

.nav-bar > li.user-name {
	border: none;
	list-style: none;
}

.nav-bar > li.user-name {
	transform: none;
}

.frame {
	background-color: #F8F8F8;
	padding: 10px 15px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px -10px rgba(70, 70, 70, 1);
	-webkit-box-shadow: 0px 0px 20px -10px rgba(70, 70, 70, 1);
	-moz-box-shadow: 0px 0px 20px -10px rgba(70, 70, 70, 1);
}

.frame-list {
	transition: all .5s;
}

.frame-list:hover {
	background-color: #D0D0D0;
}

.alert {
	font-size: 15px;
	font-weight: 700;
	max-height: 100px;
}

.big-alert {
	font-size: 28px;
	font-weight: 900;
}

.category {
	display: inline-block;
	font-size: 14px;
	padding: 5px;
	border-radius: 8px;
	margin-bottom: 3px;
}

.bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.bar-element,
.bar-icon {
	font-size: 14px;
	padding: 5px;
	margin-bottom: 3px;
	margin-right: 5px;
}

.bar-options {
	display: flex;
	flex-wrap: wrap;
}

.bar > *:last-child,
.bar-options > *:last-child {
	margin-inline: 0;
}

.bar-icon {
	font-size: 20px;
	padding: 0;
}

.bar-element {
	background-color: #fff;
	border: solid black 2px;
	border-radius: 8px;
	cursor: pointer;
	transition: all .5s;
}

.bar-element:hover {
	background-color: #888;
}

.content {
	text-align: justify;
	font-style: italic;
}

.content-list {
	max-height: 60px;
	margin-bottom: 5px;
	overflow: hidden;
	transition: max-height 1s linear;
}

.content > img {
	max-width: 100%;
	margin-block: 5px;
}

.content > a:hover {
	text-decoration: underline;
}

.footer {
	position: absolute;
	bottom: 0;
	height: auto;
	margin: 6px;
}

.footer span {
	margin: 0;
	display: inline-block;
}

.button {
	display: block;
	text-align: center;
	background-color: #EFEFEF;
	font-size: 15px;
	font-weight: 900;
	width: 100px;
	padding: 10px 0;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 2px solid #DDD;
	border-radius: 8px;
	transition: all .5s;
	cursor: pointer;
}

.disabled-button {
	font-size: 15px;
	color: #AAA;
	background-color: #F5F5F5;
	border: 2px solid #EEE;
	border-radius: 8px;
	cursor: default;
}

.button.bottom {
	margin-top: 20px;
}

.button.bottom,
.button.tile {
	margin-bottom: 0;
}

.active-button,
.button:hover,
.button:focus {
	background-color: #CCC;
	border-color: #BBB;
	box-shadow: 0px 0px 20px -8px rgba(70, 70, 70, 1);
	-webkit-box-shadow: 0px 0px 20px -8px rgba(70, 70, 70, 1);
	-moz-box-shadow: 0px 0px 20px -8px rgba(70, 70, 70, 1);
}

.button.file {
	display: inline-block;
	width: auto;
	margin: 10px 6px 0 0;
	padding-inline: 10px;
}

.button.longer {
	width: auto;
	padding: 10px;
	margin-bottom: 10px;
}

.button.flat {
	width: auto;
	color: #000;
	font-weight: 400;
	padding: 4px;
	margin: auto;
}

.button.float {
	display: inline-block;
	margin: 0;
	margin-right: 5px;
}

.tile {
	width: auto;
	height: 20px;
	line-height: 20px;
	padding: 10px;
	margin-top: 10px;
	margin-inline: 0;
}

.button-block {
	display: inline-block;
	width: auto;
	padding: 10px;
	margin: 5px 0;
	margin-right: 6px;
}

.form-div > .button {
	margin-block: 5px;
}

.table {
	overflow-x: auto;
	overflow-y: hidden;
	margin-top: 10px;
}

.filter, .filter-option {
	display: inline-block;
	width: auto;
	text-align: left;
}

.filter-option {
	font-size: 14px;
	padding: 8px;
	margin: 5px 3px 0 0;
}

.filter {
	font-size: 15px;
	padding: 9px;
	margin: 0;
	margin-bottom: 10px;
}

.roll {
	display: inline-block;
	margin-left: 5px;
	transition: transform 1s;
}

.roll svg {
	width: 14px;
	height: 14px;
}

.roll path {
	stroke-width: 2;
	stroke: black;
	fill: none;
}

.reverse {
	transform: rotate(180deg);
}

.more:hover {
	max-height: 500px;
}

.area {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s linear;
}

.filter-label {
	display: inline-block;
	font-size: 15px;
	font-weight: 900;
}

.show-area {
	max-height: 500px !important;
}

.form-div {
	display: inline-flex;
}

.form-file-div,
.form-answers-div {
	display: flex;
	flex-direction: column;
	width: calc(100% - 28px);
	background-color: #F0F0F0;
	border-radius: 10px;
	padding: 10px;
	margin: 5px 4px;
	margin-bottom: 15px;
}

input,
textarea,
select {
	color: #000;
	font-family: 'Arial', sans-serif;
	height: 40px;
	border: 2px solid #DDD;
	border-radius: 8px;
	padding: 5px;
	margin: 5px 4px;
	box-sizing: border-box;
	font-size: 15px;
	transition-property: background-color, border-color, box-shadow;
	transition-duration: .5s;
	/* For Safari */
	-webkit-appearance: none;
}

label {
	font-size: 15px;
	font-weight: 700;
	margin: 5px 4px;
	width: fill-content;
}

li > label {
	all: unset;
	display: block;
	padding: 10px;
	cursor: pointer;
}

textarea {
	height: 150px;
	min-height: 150px !important;
	width: calc(100% - 8px);
	resize: none;
	overflow: hidden;
}

.in-rows input,
.in-rows label {
	display: block;
}

input[type="submit"] {
	background-color: #EFEFEF;
	font-weight: 700;
	padding: 10px;
	margin-top: 10px;
}

input[type="color"] {
	width: 40px;
	padding: 0;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
	background-color: #EAEAEA;
	box-shadow: 0px 0px 20px -8px rgba(70, 70, 70, 1);
	-webkit-box-shadow: 0px 0px 20px -8px rgba(70, 70, 70, 1);
	-moz-box-shadow: 0px 0px 20px -8px rgba(70, 70, 70, 1);
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	cursor: pointer;
	background-color: #CCC;
	border-color: #BBB;
	box-shadow: 0px 0px 20px -8px rgba(70, 70, 70, 1);
	-webkit-box-shadow: 0px 0px 20px -8px rgba(70, 70, 70, 1);
	-moz-box-shadow: 0px 0px 20px -8px rgba(70, 70, 70, 1);
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + label {
	background-color: #CCC;
	border-color: #BBB;
}

input[type="checkbox"] {
	height: auto;
	display: inline;
	appearance: auto;
}

.answer input[type="text"]		{ width: calc(80% - 8px); }
.answer input[type="submit"]	{ width: calc(20% - 8px); }

.login input[type="text"],
.login input[type="password"]	{ width: calc(39% - 8px); }
.login input[type="submit"]		{ width: calc(22% - 8px); }

.form-answers-div input[type="text"]	{ width: 90%; }
.form-answers-div input[type="number"]	{ width: 10%; }

.red	{ color: #C00; }
.orange	{ color: #F60; }
.green	{ color: #0B0; }

.red.stamp::before		{ content: '\2718\00A0'; }
.green.stamp::before	{ content: '\2713\00A0'; }

@media (max-width: 1060px) {
	.container {
		margin: 30px;
		margin-bottom: 82px;
	}
	.nav-bar > li {
		display: block !important;
	}
}

@media (max-width: 600px) {
	.answer input,
	.login input {
		width: 100% !important;
		display: block;
	}
}

@media (max-width: 410px) {
	.g-recaptcha {
		transform: scale(0.85);
		transform-origin: 0;
	}
}
