
.icon-back:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-pass:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-add:before { content: '\e806'; } /* '' */
.icon-group:before { content: '\e807'; } /* '' */
.icon-stats:before { content: '\e808'; } /* '' */
.icon-good:before { content: '\e809'; } /* '' */
.icon-visible:before { content: '\e80a'; } /* '' */
.icon-invisible:before { content: '\e80b'; } /* '' */
.icon-reset-points:before { content: '\e80c'; } /* '' */
.icon-print:before { content: '\e80d'; } /* '' */
.icon-pi:before { content: '\e80e'; } /* '' */
.icon-block:before { content: '\e80f'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-external-link:before { content: '\f08e'; } /* '' */
.icon-compare:before { content: '\f0ec'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-calendar:before { content: '\f133'; } /* '' */
.icon-grow-up:before { content: '\f139'; } /* '' */
.icon-wrong:before { content: '\f1e2'; } /* '' */
.icon-user-add:before { content: '\f234'; } /* '' */
.icon-user-del:before { content: '\f235'; } /* '' */
.icon-calendar-checked:before { content: '\f274'; } /* '' */
